In [1]:
import cfscrape
import re
from bs4 import BeautifulSoup
from ebooklib import epub
import json
import geocoder
import logging
import requests
import objectpath
import json
from ast import literal_eval
import pandas as pd
# Get the text at the set URL
scraper = cfscrape.create_scraper()

In [2]:
a=[]
b=[]
c=[]
d=[]
e=[]
f=[]
g=[]
baseurl="https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page="
valid_pages = list(range(0,50,1))
for n in range(len(valid_pages)):
    urlPrefix = f'{baseurl}{valid_pages[n]}'
    print(urlPrefix)
    #####################
    # Set the adress here
    strpage = requests.get(urlPrefix)
    # Modifies the HTML received
    soup = BeautifulSoup(strpage.content, 'html5lib')
    for i in soup.find_all('script'):
        if type(i.text) == str and i.text.strip().startswith('window.__INITIAL_STATE'):
            t = i.text.strip()
            t = t[t.find('{'):]
            t = t[:1+t.rfind('}')]
            data=json.loads(t)
            break

    for i in range(0,len(data["listings"]["items"])):
        address=data["listings"]["items"][i]["address"]["formattedAddress"]
        a.append(address)
        if "lat" not in data["listings"]["items"][i]["address"].keys():
            lat="None"
        else:
            lat=data["listings"]["items"][i]["address"]["lat"]
        b.append(lat)
        if "lng" not in data["listings"]["items"][i]["address"].keys():
            lng="None"
        else:
            lng=data["listings"]["items"][i]["address"]["lng"]
        c.append(lng)

        price=data["listings"]["items"][i]["prices"][0]["max"]
        d.append(price)
        if "monthlyPayment" not in data["listings"]["items"][i]["prices"][0].keys():
            installment="None"
        else:
            installment=data["listings"]["items"][i]["prices"][0]["monthlyPayment"]
        e.append(installment)
        
        if "level1" not in data["listings"]["items"][i]["multilanguagePlace"]["en-GB"].keys():
            level="None"
        else:
            level=data["listings"]["items"][i]["multilanguagePlace"]["en-GB"]["level1"]+","+data["listings"]["items"][i]["multilanguagePlace"]["en-GB"]["level2"]+","+data["listings"]["items"][i]["multilanguagePlace"]["en-GB"]["level3"]
        f.append(level)
        
        title=data["listings"]["items"][i]["title"]
        g.append(title)
            
tmp= list([a,b,c,d,e,f,g])
final_df=pd.DataFrame(tmp).T
final_df2=pd.DataFrame()
final_df2["Address"]=final_df[0]
final_df2["lat"]=final_df[1]
final_df2["lng"]=final_df[2]
final_df2["price"]=final_df[3]
final_df2["Installment"]=final_df[4]
final_df2["level"]=final_df[5]
final_df2["title"]=final_df[6]
final_df2.drop_duplicates()
final_df2.head()

https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=0
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=1
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=2
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=3
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=4
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=5
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=6
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=7
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=8
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=9
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=10
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=11
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=12
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=13
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=14
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=15
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=16
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=17
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=18
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=19
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=20
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=21
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=22
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=23
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=24
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=25
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=26
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=27
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=28
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=29
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=30
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=31
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=32
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=33
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=34
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=35
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=36
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=37
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=38
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=39
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=40
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=41
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=42
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=43
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=44
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=45
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=46
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=47
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=48
https://www.rumah123.com/en/sale/all-residential/?minPrice=100000000&q=jakarta&page=49

,Address,lat,lng,price,Installment,level,title
0,"Kemang, Jakarta Selatan",-6.17544,106.828,7900000000,45330000,"DKI Jakarta,Jakarta Selatan,Kemang","Rumah di Kemang, Jakarta Selatan ~ Furnished ~..."
1,"Senayan, Jakarta Selatan",-6.25046,106.787,4200000000,24100000,"DKI Jakarta,Jakarta Selatan,Senayan",Apartemen Senayan Residence ~ Fully Furnished ...
2,"Pancoran, Jakarta Selatan",None,None,3500000000,None,"DKI Jakarta,Jakarta Selatan,Pancoran",The Loggia
3,"Kemang, Jakarta Selatan",-6.26694,106.824,13900000000,79760000,"DKI Jakarta,Jakarta Selatan,Kemang",Kemang/Ampera-Murah ! Rumah 1 lantai halaman l...
4,"Kalideres, Jakarta Barat",-6.09723,106.7,510000000,2930000,"DKI Jakarta,Jakarta Barat,Kalideres","Rumah Murah Minimalis Cambela Permai !!, Kalid..."

In [3]:
final_df2.shape

(1000, 7)

In [4]:
original_index= final_df2.index

In [5]:
len(data["listings"]["items"])

20

In [15]:
# data["listings"]["items"][0]["multilanguagePlace"]["en-GB"]

{'level1': 'Banten', 'level2': 'Tangerang', 'level3': 'Larangan'}

In [17]:
# data["listings"]["items"][0]["title"]

'Clover Hill Residence'

In [6]:
# data["listings"]["items"][1]

In [ ]:
# i=12
# address=data["listings"]["items"][i]["address"]["formattedAddress"]
# lat=data["listings"]["items"][i]["address"]["lat"]
# lng=data["listings"]["items"][i]["address"]["lng"]
# print(address,"DONE",lat,"DONE",lng,"DONE")

In [ ]:
# address=data["listings"]["items"][18]["address"]["formattedAddress"]
# lat=data["listings"]["items"][18]["address"]["lat"]
# lng=data["listings"]["items"][18]["address"]["lng"]
# currency=data["listings"]["items"][18]["prices"][0]["currency"]
# price=data["listings"]["items"][18]["prices"][0]["max"]
# installment=data["listings"]["items"][18]["prices"][0]["monthlyPayment"]

In [7]:
# data

In [8]:
final_df2.head(10)

,Address,lat,lng,price,Installment,level,title
0,"Kemang, Jakarta Selatan",-6.17544,106.828,7900000000,45330000,"DKI Jakarta,Jakarta Selatan,Kemang","Rumah di Kemang, Jakarta Selatan ~ Furnished ~..."
1,"Senayan, Jakarta Selatan",-6.25046,106.787,4200000000,24100000,"DKI Jakarta,Jakarta Selatan,Senayan",Apartemen Senayan Residence ~ Fully Furnished ...
2,"Pancoran, Jakarta Selatan",None,None,3500000000,None,"DKI Jakarta,Jakarta Selatan,Pancoran",The Loggia
3,"Kemang, Jakarta Selatan",-6.26694,106.824,13900000000,79760000,"DKI Jakarta,Jakarta Selatan,Kemang",Kemang/Ampera-Murah ! Rumah 1 lantai halaman l...
4,"Kalideres, Jakarta Barat",-6.09723,106.7,510000000,2930000,"DKI Jakarta,Jakarta Barat,Kalideres","Rumah Murah Minimalis Cambela Permai !!, Kalid..."
5,"Kemang, Jakarta Selatan",None,None,9950000000,57090000,"DKI Jakarta,Jakarta Selatan,Kemang",Rumah Super Cantik @ Kemang Area Jakarta Selat...
6,"Mampang Prapatan, Jakarta Selatan",None,None,2500000000,14350000,"DKI Jakarta,Jakarta Selatan,Mampang Prapatan","Dijual Rumah Kos Baru @ Pondok Jaya., Mampang ..."
7,"Pesanggarahan, Jakarta Selatan",-6.22366,106.763,3200000000,18360000,"DKI Jakarta,Jakarta Selatan,Pesanggarahan",permata mediterania pos pengumben jakarta sela...
8,"Kemang, Jakarta Selatan",-6.26694,106.824,6000000000,34430000,"DKI Jakarta,Jakarta Selatan,Kemang","@BANGKA~LB/LT : 350/152 ~FURNISH~6M ,JAKARTA S..."
9,"Kemang, Jakarta Selatan",-6.17544,106.828,3000000000,17210000,"DKI Jakarta,Jakarta Selatan,Kemang",Apartmen Kemang Jaya ~ 2 Bedrooms ~ Siap Huni...

In [9]:
location=[]
for idx in range(0,final_df2.shape[0]):
    if final_df2.loc[idx,"lat"]=='None':
        tmp=None
    else:
        tmp= str(final_df2.loc[idx,"lat"])+","+str(final_df2.loc[idx,"lng"])
    location.append(tmp) 
    
final_df2["location"]= location

In [24]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut
import time
geolocator = Nominatim(user_agent="ashish",timeout=None)
loc_index= final_df2.loc[-final_df2.location.isna(),"location"].index

In [25]:
def zip_code_cn(x):
    loc=geolocator.reverse(x)
    time.sleep(0.5)
    return loc

In [26]:
final_df2["Complete_Address"]= None
final_df2_1= final_df2.loc[loc_index,]

In [28]:
Zip_code = final_df2_1.location.apply(lambda x: zip_code_cn(x))

In [29]:
Zip_code

0      (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
1      (SMA Negeri 74 Jakarta, Jalan Dharma Putra XI,...
3      (Gang Jawara, RW 03, Bangka, Mampang Prapatan,...
4      (Gang H. Rawin, RW 03, Kamal, Kalideres, Jakar...
7      (RT 01, RW 09, Ulujami, Pesanggrahan, Jakarta ...
8      (Gang Jawara, RW 03, Bangka, Mampang Prapatan,...
9      (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
10     (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
11     (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
12     (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
15     (RW 03, Pondok Kelapa, Duren Sawit, Jakarta Ti...
16     (RW 06, Bintaro, Pesanggrahan, Jakarta Selatan...
17     (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
18     (RW 05, Pondok Pinang, Kebayoran Lama, Jakarta...
19     (Kantor RW 09, Jalan Pasar Baru Timur V, RT 15...
20     (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
21     (SMA Negeri 74 Jakarta, Jalan Dharma Putra XI,...
23     (Gang Jawara, RW 03, Bangka, Mampang Prapatan,...
24     (Gang H. Rawin, RW 03, Kamal, Kalideres, Jakar...
27     (RT 01, RW 09, Ulujami, Pesanggrahan, Jakarta ...
28     (Gang Jawara, RW 03, Bangka, Mampang Prapatan,...
29     (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
30     (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
31     (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
32     (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
35     (RW 03, Pondok Kelapa, Duren Sawit, Jakarta Ti...
36     (RW 06, Bintaro, Pesanggrahan, Jakarta Selatan...
37     (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
38     (RW 05, Pondok Pinang, Kebayoran Lama, Jakarta...
39     (Kantor RW 09, Jalan Pasar Baru Timur V, RT 15...
                             ...
962    (STIE DR. Moechtar Talib, Jalan Pinang, RW 04,...
966    (Bank Mandiri, Jalan Radio Dalam, RW 09, Ganda...
967    (PT PLN Area Pelayanan Jaringan Cempaka Putih,...
969    (Jalan Nipah IX, RT 08, RW 01, Petogogan, Keba...
970    (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
974    (Badan Tenaga Atom Nasional, Kuningan Barat Ra...
975    (Jalan Tanjung Palapa Komplek RRI, RW 01, Tanj...
976    (Jalan Bunga Flamboyan III, RW 02, Cipete Sela...
977    (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
978    (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
979    (Jalan Jambu, RW 02, Gondangdia, Menteng, Jaka...
980    (Jalan Sunter Agung Utara D1, RW 18, Sunter Ag...
981    (Jalan Alam Asri II, RW 16, Pondok Pinang, Keb...
982    (Jalan Opek, RW 06, Cilandak Timur, Pasar Ming...
983    (Kedutaan Besar Republik Islam Pakistan, Jalan...
984    (Jalan Nipah IX, RT 08, RW 01, Petogogan, Keba...
985    (Gang Jawara, RW 03, Bangka, Mampang Prapatan,...
986    (Jalan H. Abu, RW 07, Cipete Selatan, Cilandak...
987    (Jalan Nipah IX, RT 08, RW 01, Petogogan, Keba...
988    (Pangkalanjati Baru, Jabar, 16431, NKRI, (-6.3...
989    (Jalan Gandaria I, RW 10, Kramat Pela, Kebayor...
990    (Jalan Pejaten Raya, RW 05, Pejaten Barat, Pas...
991    (Jalan H. Abu, RW 07, Cipete Selatan, Cilandak...
992    (Gang Jawara, RW 03, Bangka, Mampang Prapatan,...
993    (Jalan H. Abu, RW 07, Cipete Selatan, Cilandak...
994    (Metro Alam III, Jalan Metro Pondok Indah, RW ...
995    (Sukatani-Dongkal, Sukatani, Kelurahan Sukatan...
997    (Metro Alam III, Jalan Metro Pondok Indah, RW ...
998    (RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKR...
999    (RT 07, RW 08, Kapuk Muara, Penjaringan, Jakar...
Name: location, Length: 707, dtype: object

In [30]:
Zip_code= Zip_code.apply(lambda x: x[0])
final_df2.loc[Zip_code.index,"Complete_Address"]=Zip_code
final_df2["Zip_code"]= final_df2.Complete_Address.str.extract(r"(\d{5})")

C:\Users\lokesh_pc\AppData\Roaming\Python\Python36\site-packages\ipykernel_launcher.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  This is separate from the ipykernel package so we can avoid doing imports until

In [31]:
pd.options.display.max_columns=None
pd.set_option('display.max_rows',500)
pd.set_option('display.max_columns',500)
pd.set_option('display.width',1000)

In [32]:
final_df2.head()

                     Address      lat      lng        price Installment                                 level                                              title                               location                                   Complete_Address Zip_code
0    Kemang, Jakarta Selatan -6.17544  106.828   7900000000    45330000    DKI Jakarta,Jakarta Selatan,Kemang  Rumah di Kemang, Jakarta Selatan ~ Furnished ~...           -6.175445,106.82800429999998     RW 02, Gambir, Jakarta Pusat, JKT, 10110, NKRI    10110
1   Senayan, Jakarta Selatan -6.25046  106.787   4200000000    24100000   DKI Jakarta,Jakarta Selatan,Senayan  Apartemen Senayan Residence ~ Fully Furnished ...  -6.250460899999999,106.78665999999998  SMA Negeri 74 Jakarta, Jalan Dharma Putra XI, ...    12240
2  Pancoran, Jakarta Selatan     None     None   3500000000        None  DKI Jakarta,Jakarta Selatan,Pancoran                                         The Loggia                                   None                                               None      NaN
3    Kemang, Jakarta Selatan -6.26694  106.824  13900000000    79760000    DKI Jakarta,Jakarta Selatan,Kemang  Kemang/Ampera-Murah ! Rumah 1 lantai halaman l...           -6.266939,106.82409800000005  Gang Jawara, RW 03, Bangka, Mampang Prapatan, ...    12730
4   Kalideres, Jakarta Barat -6.09723    106.7    510000000     2930000   DKI Jakarta,Jakarta Barat,Kalideres  Rumah Murah Minimalis Cambela Permai !!, Kalid...                 -6.0972271,106.6999002  Gang H. Rawin, RW 03, Kamal, Kalideres, Jakart...    15125

In [33]:
final_df2.to_csv("C:/Users/lokesh_pc/Hidden_Preffered_Project_Indonesia/Hidden_pref_sale.csv",index=False)

In [35]:
final_df2.shape

(1000, 10)

In [34]:
final_df2.Zip_code.isnull().sum()

301